  ul {
    padding: 0;
    list-style: none;
  }

  .done {
    text-decoration: line-through;
    color: #ccc;
  }

  .table-header,
  .table {
    display: flex;
  }

  .table-header p,
  .table-header a,
  .table ul {
    width: 450px;
  }

  ul li p {
    display: inline-block;
    margin: 0;
    width: 200px;
  }