<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
<head>
  <meta charset="UTF-8">
  <title>todo</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div ng-controller="todoController">
    <form name="frm" ng-submit="addTodo()">
      <input type="text" name="newTodo" ng-model="newTodo" required />
      <button ng-disabled="frm.$invalid">Go</button>
    </form>
    <button ng-click="clearCompleted()">Clear Completed</button>
    <div class="table-header">
      <p>Start</p>
      <p>Done</p>
    </div>
    <div class="table-header">
      <a href="" ng-click="sortType = 'title'; sortReverse = !sortReverse"">
        Sort
        <span ng-show="sortType == 'title' && !sortReverse">ABC</span>
        <span ng-show="sortType == 'title' && sortReverse">CBA</span>
      </a>
    </div>
    <div class="table">
      <ul>
        <li ng-repeat="todo in todos | orderBy:sortType:sortReverse">
          <p>{{todo.title}}</p>
          <button ng-click="goDone()">To Done</button>
        </li>
      </ul>
      <ul>
        <li ng-repeat="todo in dones | orderBy:sortType:sortReverse">
          <input type="checkbox" ng-model="todo.done" />
          <p ng-class="{'done':todo.done}">{{todo.title}}</p>
          <button ng-click="goBack()">To Back</button>
          <button ng-click="clearTodo()">Del</button>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/ang-script.js"></script>
</body>
</html>